
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, body {
    background: linear-gradient(to right top, #ffa500,rgb(196, 82, 82));
    height:100%;
    font-family: 'Lato';
}
